{% extends "template.html" %}
{% block content %}
<div id="placeholder"></div>
{% endblock %}
{% block js %}
<script src="{{ js }}"></script>
<script src="/static/stockfish.js"></script>
<script>
    // We try to load Stockfish even if some checks might fail
    // Modern iOS supports SharedArrayBuffer if headers are correct
    Stockfish().then(fsf => {
        fsf.addMessageListener(line => {
            window.onFSFline(line);
        });

        window['fsf'] = fsf;
    }).catch(err => {
        console.error('Failed to load Fairy-Stockfish WASM:', err);
        console.log('Fairy-Stockfish WASM port not supported by your browser!');
    });
</script>
{% endblock %}